<div>
  <mat-card class="profile-card">
    <mat-card-header>
      <div mat-card-avatar class="header-image" style="background-image: url('https://randomuser.me/api/portraits/men/52.jpg');"></div>
      <mat-card-title><h1>{{tutor.name}}</h1></mat-card-title>
      <mat-card-subtitle><h2>{{tutor.email}}</h2></mat-card-subtitle>
      <mat-card-subtitle><h2>{{tutor.telefono}}</h2></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
    </mat-card-content>
  </mat-card>
</div>
<br>

<div class="middle-div">
  <h1>My Family</h1>
</div>
<div class="container-patient">
  <div *ngFor="let item of hijos; let i = index;">
    <mat-card class="patient-card">
      <mat-card-header>
        <div mat-card-avatar class="patient-image" style="background-image: url('https://randomuser.me/api/portraits/women/52.jpg');"></div>
        <mat-card-title><h1>{{item.name}}</h1></mat-card-title>
        <mat-card-subtitle><h2>{{item.email}}</h2></mat-card-subtitle>
        <mat-card-subtitle><h2>{{item.telefono}}</h2></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
      </mat-card-content>
    </mat-card>
  </div>
</div>

