.profile-card{
  width: 70%;
  margin-top: 20px;
  transform: translate(-50%, 0%);
  left: 50%;
  border-radius: 25px;
  border: 2px solid #795c3e;
}

.header-image {
  width: 200px;
  height: 200px;
  background-size: cover;
}

.profile-card h1{
  font-size: 60px;
  margin-left: 20px;
}

.profile-card h2{
  font-size: 20px;
  margin-left: 30px;
  color: grey;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

span{
  font-size: 20px;
  color: rgb(255, 255, 255);
}

.patient-card{
  //width: 100%;
  box-sizing: border-box;
  border-radius: 25px;
  border: 2px solid #795c3e;
  margin-top: 15px;
  margin-left: 10px;
  margin-bottom: 15px;
  float: left;
  box-sizing: border-box;
}

.patient-card h1{
  font-size: 30px;
  margin-left: 20px;
}

.patient-card h2{
  font-size: 15px;
  margin-left: 20px;
  color: grey;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 10px;
}

h1 {
  text-align: center;
  font-weight: bolder;
  color: rgb(109, 43, 17)
}

.container-patient {
  display: flex;
  align-items: center;
  justify-content: center;
}

.patient-image {
  width: 150px;
  height: 150px;
  background-size: cover;
}

.middle-div{
  padding-left: 20px;
}