.example-spacer {
    flex: 2 2 auto;
  }

span{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}  

button{
    margin-right: 20px;
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    font-size: 2.5rem;
    font-weight: 500;
    margin-left: 15px;
    letter-spacing: 0cap;
}