<br><br>
<form (submit)="filtrar()">
  <button class="searchBtn" (click)="filtrar()"><img src="../../../assets/logo.png"></button>
  <hr>
  <input class="searchBar" name="buscar" type="text" placeholder="Search..." [(ngModel)]="buscar">
</form>
<br><br>
  <div class="card"   *ngFor="let item of itemsFiltrados" (click)="getProfessionalById(item)" [routerLink]="[item._id]">
  <div class="cardContainer">
    <h4><b>Name: {{item.name}}</b></h4>
    <p>Profession: {{item.profession}}</p>
    <p>Email: {{item.email}}</p>
    <p>Telefono: {{item.telefono}}</p>
  </div>
  <br>
  <br>
  <br>
</div>
<br>
<br>