.searchBtn {
  background-color: antiquewhite;
  padding: 0px;
  margin: auto;
  border: none;
  display: block;
}

input[type=text] {
  margin: auto;
  display: block;
  height:40px;
  width: 800px;
  color:white;
  background-color: rgb(234, 170, 142);
  border: 5px rgb(192, 108, 71);
  border-radius: 50px;
  box-shadow: rgb(192, 108, 71) 3.5px 3.5px;

  text-align: center;
  padding: 12px 20px;
  font-size: 25px;
} 

hr {
  border:0px;
}

img {
  width:10%;
}

.card {
  background-color: rgb(253, 223, 181);
  color: rgb(136, 63, 33);
  width: 1200px;
  height: 180px;
  margin: auto;
  margin-bottom: 10px;
  text-align: center;
  font-size: large;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border: rgb(136, 63, 33) 5px;
}

.cardContainer {
  padding: 10px 30px;
}

