p{
    margin-left: 15px;
}
footer {
    background-color: #ffbd59;;
    height: 60px;
    position: fixed;
    //margin-bottom: 0px;
    bottom: 0;
    width: 100%;
    text-align: center;
  }

div{
    clear: both;
}