
@use '@angular/material' as mat;
@include mat.core();

$Front-end-primary: mat.define-palette(mat.$orange-palette, 300);
$Front-end-accent: mat.define-palette(mat.$brown-palette, A700);

$Front-end-warn: mat.define-palette(mat.$grey-palette, 400);

$Front-end-theme: mat.define-light-theme((
  color: (
    primary: $Front-end-primary,
    accent: $Front-end-accent,
    warn: $Front-end-warn,
  )
));

@include mat.all-component-themes($Front-end-theme);

html, body { height: 100%; background-color: #ffbd59;}
body { margin: 0; font-family: 'Times New Roman', Times, serif; }
