<div class="profile-container">
  <mat-card class="profile-card">
    <mat-card-header>
      <div mat-card-avatar class="header-image" style="background-image: url('https://randomuser.me/api/portraits/women/52.jpg');"></div>
      <mat-card-title><h1>{{professional.name}}</h1></mat-card-title>
      <mat-card-subtitle><h2>{{professional.email}}</h2></mat-card-subtitle>
      <mat-card-subtitle><h2>{{professional.telefono}}</h2></mat-card-subtitle>
      <mat-card-subtitle><h2>{{professional.profession}}</h2></mat-card-subtitle>
    </mat-card-header>
  
  </mat-card>
  <mat-card class="app-card">
    <h1>Google meet Link</h1>
    <p>Link...</p>
  </mat-card>
</div>
<br>